dptemplate::before{
  content: "" attr(name) "";
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}

dptemplate {
  margin-bottom: 4pt;
  margin-top: 4pt;
  border-style:dotted;
  border-width:thin;
  display:block;
  background: #E6E6E6;
}

/* These properties are for the old markup syntax */
div.TemplateBody {
  border-style:dotted;
  border-width:thin;
}

span.TemplateName {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}

div.TemplateName {
  margin-top:25px;
}

div.TemplateBody {
  border-style:dotted;
  border-width:thin;
  padding-left: 10px; 
  padding-right: 10px;
}

div.ResultSection {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0px solid red;
}

div.RoiTraces {
    page-break-before: always;
}

