@import url(hole.css);
@import url(docpart_templates.css);


/*

This style sheet uses a set of dummy font family names. The Report 
Generator replaces the dummy names at report generation time with
actual names drawn from the Report Generator's map of PDF fonts for
non-English platforms. You can replace the dummy names yourself in
versions of this style sheet that you customize to your needs.

The dummy names are:

rg-body
rg-title
rg-monospace
rg-sans

See http://www.mathworks.com/help/rptgen/ug/pdf-fonts-for-non-english-platforms.html
for more information.

*/

p.Title {
    font-family: "Times New Roman", Times, serif;
    font-size: 26pt;
    color: black;
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 15pt;
    margin-left: 0in;
    border-bottom-color:#4F81BD;
    border-bottom-width: 1pt;
    border-bottom-style: solid;
    -fo-letter-spacing: 0.25pt;
}

p {
    font-family: "Times New Roman", Times, serif;
}

p.rgImage {
    text-align: center;
    margin-bottom: 10pt;
}

div.contentVertCenter {
    display: block; 
    margin: auto;
    width: 100;
    border: 1px solid black;
}

h1.ChapterTitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 16pt;
    margin-top: 8pt;
    font-weight:bold;
    margin-bottom: 10pt;
    color: black;
    white-space: pre;
}

h2.SectionTitle {
    font-size: 16pt;
    margin-top: 8;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 13pt;
    font-weight: bold;
    white-space: pre;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 8pt;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 13pt;
    font-weight: bold;
    margin-top: 24pt;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 24pt;
}

table {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid black;
}

table.ResultTable {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 75%;
}

table.ResultTable50P {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 50%;
}

table.ResultTable75P {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 75%;
}

table.ResultTable100P {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 100%;
}

table.NoBorder {
    border: 0px solid white;
}

th {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    border: 1px solid black;
}

th {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    border: 1px solid black;
}

td.ResultTable5Col {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid black;
    width: 20%;
}

table.ReportGrid {  
  color: black;
  border: 1px solid black;
  font-weight: bold;
}

thead.ReportGrid {
  border: 1px solid black;
  font-weight:bold;
}


th.ReportGrid
{
  border: 1px solid black;
  font-weight:bold;
  padding:5px;
}

tr.ReportGrid {
  margin-left: 2%;
}

td.ReportGrid {
  border: 1px solid black;
  padding:5px;
  text-align:center;
}

a {
    color: black;
    text-decoration: underline;
}

li {
    font-family: "Times New Roman", Times, serif;
}

table.rgMATLABTable {
    -fo-text-align: center;
    border: none;
}
table.rgMATLABTable th p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
table.rgMATLABTable th {
    font-weight: bold;
    padding: 0 0.04in 0.05in 0.04in;
}
table.rgMATLABTable td p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
table.rgMATLABTable td {
    padding: 0 0.04in 0 0.04in;
}